.side_bar
  .side_bar__user-name
    .side_bar__user-name__txt-box
      %h3.side_bar__user-name__txt-box__txt 
        = current_user.name
      %ul.side_bar__user-name__txt-box__icons
        %li.side_bar__user-name__txt-box__icons__icon
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.side_bar__user-name__txt-box__icons__icon
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .side_bar__group__list
    - current_user.groups.each do |group|
      .side_bar__group__list__fellow
        = link_to group_messages_path(group) do
          .side_bar__group__list__fellow__name
            = group.name
          .side_bar__group__list__fellow__message
            = group.show_last_message